<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head::admin_head}">
</head>
<body>
<div id="admin-wrapper">
  <header th:replace="~{fragments/header::admin_header}">
  </header>
  <main>
    <aside th:replace="~{fragments/admin/aside::admin_aside}">
    </aside>
    <section id="admin-faq">
      <nav>
        <h3>공지사항</h3>
        <p>
          HOME > 고객센터 >
          <strong>공지사항</strong>
        </p>
      </nav>
      <section>
        <div>
          <select name="menu1" id="selectBox">
            <option value="#">1차 선택</option>
            <option value="#">전체</option>
            <option value="#">고객서비스</option>
            <option value="#">안전거래</option>
            <option value="#">위해상품</option>
            <option value="#">이벤트당첨</option>
          </select>
          <select name="search" id="selectBox2" class="choose">
            <option value="search1">2차 선택</option>
            <option value="#">안내</option>
            <option value="#">발표</option>
            <option value="#">점검</option>
          </select>
        </div>
        <table id="tb">
          <tr>
            <th>
              <input type="checkbox" name="all" class="chk">
            </th>
            <th>번호</th>
            <th>1차 유형</th>
            <th>2차 유형</th>
            <th>제목</th>
            <th>조회</th>
            <th>날짜</th>
            <th>관리</th>
          </tr>
          <th:block th:each="article:${pageResponseDTO.dtoList}">
            <tr class="row">
              <td>
                <input type="checkbox" name="articleNo" />
              </td>
              <td th:text="${article.articleId}"></td>
              <td th:text="${article.menu1}"></td>
              <td th:text="${article.menu2}"></td>
              <td>
                <!--TODO: article_id 변경하는 것 -->
                <a th:href="@{/admin/cs/notice/view(articleId=${article.articleId})}" th:text="${article.title}"></a>
              </td>
              <td th:text="${article.hit}"></td>
              <td th:text="${article.rdate}"></td>
              <td>
                <a href="#" class='remove'>[삭제]</a><br>
                <a href="#">[수정]</a>
              </td>
            </tr>
          </th:block>
        </table>
        <input type="button" class="delete" value="선택삭제">
        <a th:href="@{/admin/cs/notice/write}" class="write" id="write">작성하기</a>

        <div class="paging">
          <th:block th:if="${pageResponseDTO.prev}" >
            <span class="prev">
            <a href="#">&nbsp;이전</a>
            </span>
          </th:block>

          <span  th:each="num : ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}"  th:class="num">
            <a th:href="@{/admin/cs/notice/list(cate=notice, pg=${num})}"  th:class="${num == pageResponseDTO.getPg()}?'on' : ''" >[[${num}]]</a>
          </span>
          <span class="next">
            <a href="#">다음&nbsp;></a>
          </span>
        </div>
      </section>
    </section>
  </main>
  <footer>
    <div>
      <p>
        Copyright ⓒkmarket.co.kr All rights reserved. KMARKET
        ADMINISTRATOR Version 5.4.1.2
      </p>
    </div>
  </footer>
</div>

</body>
<script>

  let protocol;
  let rootURL;
  protocol = window.location.protocol;
  rootURL = window.location.host;

  const getAllCate = async () =>{
    const apiURL = protocol+"//"+rootURL+"/api/admin/cs/article/fullCate";
    let response = await fetch(apiURL)
            .then(res => {
              return res.json()
            });
    console.log(response);
    let obj = new Object();
    let cate1Name = "";
    let curData = [];
    //Object는 순회할 때 for of를 사용한다.
    for(const res of response){
      cate1Name = res[""]
    }





  }//getAllCate end


</script>



</html>